.calcInputArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }
  
  .resultScreen {
    text-align: center;
  }
  
  .numberInputSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
  }
  
  .numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .operations {
    display: flex;
    justify-content: center;
  }

  label{
    border: 2px solid black;
    padding-left: 200px;
    padding-right: 200px;
    box-sizing: border-box;
    
}


/* .calcInputArea{
    background-color: aliceblue;
    
}
.numberInputSection{
    background-color: yellow;
    
    text-align: center;
}
.resultScreen{
    background-color: bisque;
    text-align: center;
    box-sizing: border-box;
    

}
label{
    border: 2px solid black;
    padding-left: 100px;
    box-sizing: border-box;
    
} */